[submodule "irc-reporter"]
	path = irc-reporter
	url = https://github.com/jamtur01/puppet-irc.git
[submodule "homebrew"]
	path = homebrew
	url = git://github.com/jedi4ever/puppet-homebrew.git
[submodule "vcsrepo"]
	path = vcsrepo
	url = git://github.com/puppetlabs/puppet-vcsrepo
[submodule "iscsi"]
	path = iscsi
	url = git://github.com/duritong/puppet-iscsi.git
[submodule "mediawiki"]
	path = mediawiki
	url = git://github.com/carlasouza/puppet-mediawiki.git
